.container {
    /* background-color: aqua; */
    margin-top: 55px;

}
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
}

.heading{
    font-size: 1.2rem;
    font-weight: 550;
    color: #111827;
}
.badges{
    display: flex;
    gap: 8px;
}
.pending{
    background: #dcf1ff;
    color: #0369a1;
    font-size: 0.70rem;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 20px;
}
.completed{
    background: #c5bae9;
    color: #034079dd;
    font-size: 0.70rem;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 20px;
}
.devider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0px;
    text-align: center;
    color: #84878d;
    font-size: 0.75rem;
    letter-spacing: 3px;
}
.devider::before,
.devider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #8290ab;
    margin: 0 12px;
}