
.container {
    max-width: 750px;
    margin: 0 auto;  /* centers it */
    padding: 40px 0px 0px;
    /* background-color: aqua; */
}
.heading h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 4px; 

}
.heading p {
    font-size: 0.95rem;
    color: #6b7280;
    margin-bottom: 32px;
}
.quote{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.quo{
    color: #6b7280;
    font-family: 'Courier New', monospace;
    /* font-family: 'Arial', sans-serif;   */
      /* font-family: 'Georgia', serif;    */
      letter-spacing: 5px;

      
}